.project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
  }
  .project h3{
    text-align: center;
    margin: 20px auto 0px;
    font-size: 500;
  }
  .project Img{
    width: 200px;
    height: 200px;
  }
  .heee{
      text-align: center;
  }